body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

#get-scores {
    font-size: 150%;
    color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
}

.timer {
    font-size:150%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.window {
    width: 90vw;
    height: 550px;
    margin: 60px auto;
    margin-top: 45px;
    text-align: center;
}

p {
    font-family: serif;
    font-size: 3em;
    color: steelblue;
}

.start-button {
    background: -moz-radial-gradient(circle, rgba(255, 214, 175));
    border-radius: 20vw;
    color: steelblue;
    cursor: pointer;
    font-size: 2.5em;
    text-align: center;
    max-width: 200px;

}